@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    font-family: 'Montserrat',
        sans-serif;
    height: 100vh;
}

div.App {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-image: url('./images/bg-2.svg');
    background-position: left top;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 90px;
    /* justify-content: flex-start; */
    /* padding: 100px;
    padding-left: 200px; */
}