@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    font-family: 'Montserrat',
        sans-serif;
}

div.App {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-image: url('./images/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    /* justify-content: flex-start; */
    /* padding: 100px;
    padding-left: 200px; */
}